<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>We will be back so soon...</h1>
        <p>{{screamIt 'Don\'t go for too long'}}</p>
    </body>
</html>