<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Page</title>
    </head>
    <body>
        {{> header}}
        <h1>This is Projects Page</h1>
        <p>{{protfolioPage}}</p>
    </body>

    {{> footer}}
</html>